/*****
 IS SOMEWHY YOU ARE READING THIS CODE,
 SORRY FOR  A MESS,
 ITS SO FRESH,
 IN SOME DAYS IT WILL BE GOOD
****/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Lato', sans-serif;
}
ul{
    list-style: none;
}

.disabled{
    opacity: .5;
    pointer-events: none;
}

section{
    position: relative;
    width: 100%;
    height: 95vh;
}

#first{
    background: #00aeef;
}
.content{
    /* width: 1100px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}



.chat{
    position: relative;
    width: 480px;
    margin-right: 170px;
    padding-right: 30px;
}
.chat-icon{
    width: 100%;
}
.chat-text{
    position: absolute;
    top: 33px;
    left: 36px;
    font-weight: 700;
}
.chat-text h1{
    font-size: 50px;
    margin-bottom: 10px;
}
.chat-text p{
    font-size: 33px;
}
.chat-interactive{
    margin-top: 10px;
}
.chat-interactive span{
    color: #e4e0fc;
    font-weight: 400;
    font-size: 13px;
    padding: 0px 40px;
    display: block;
}
.chat-questions{
    margin-bottom: 5px;
}
.chat-questions div{
    background: #f49ac1;
    background: rgba(244, 154, 193, 0.85);
    border-radius: 18px;
    
    padding: 7px 14px;
    color: white;
    transition: all .2s;
}
    .chat-questions div:hover{
        cursor: pointer;
        background: #f49ac1;
    }

.message{
    text-align: center;
    display: inline-block;
}
#q1{  
    margin-bottom: 5px;
}
#q2{
 
}
#q3{
 
    margin-bottom: 5px;

}
#q4{
   
}
#q5{
    
    margin-bottom: 5px;
}
#q6{
 
}
#q7{
   
}
#fluidy-content{
    transition: 1.3s cubic-bezier(0,.74,.36,1);
}
.links{
    position: relative;
    width: 470px;
    height: 330px;
    font-weight: 700;
    align-self: center;
    
    transition: 1.3s cubic-bezier(0,.74,.36,1); 
}
.links a{
    color: black;
    text-decoration: none;
}
    .linkedin{
        position: absolute;
        top: 0;
        left: 47px;
        font-size: 77px;
        animation: floating 2s infinite ease;
    }
    .email{
        position: absolute;
        top: 94px;
        right: 117px;
        font-size: 49px;
        animation: floating 2s .1s infinite ease;
    }
    .github{
        position: absolute;
        top: 133px;
        left: 0;
        font-size: 65px;
        animation: floating 2s .3s infinite ease;
    }
    .resume{
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 95px;
        transition: all .3s;
        animation: floating 2s .2s infinite ease;
            
    }
        @keyframes floating{
            0%{transform: scale(1) translateY(0);}
            50%{transform: scale(1.02) translateY(-5px);}
            100%{transform: scale(1) translateY(0);}
        }


#second{
    background: #f49ac1;
    padding: 50px 48px;
    min-height: 750px;
    
}
.section-title{
    font-size: 69px;
    font-weight: 700;
    color: white;
}



.work-navigation{
    display: flex;
    margin-left: auto;
    width: 550px;
    justify-content: space-between;
}
.nav-item{
    position: relative;
    font-size: 31px;
    font-weight: 700;
    color: #E4E0FC;
    transform: scale(.6);
    transition: all .3s;
}
.nav-item:hover{
    transform: scale(1);
    color: white;
    cursor: pointer;
}
    .nt-active{
        transform: scale(1);
        color: white;
    }
    .nt-active:before{
        content: "";
        height: 100%;
        width: 10px;
        background: white;
        position: absolute;
        bottom: 0;
        left: -15px;
        transition: all 0.3s;
        animation: line-slide .9s .3s backwards ease;
    }
        @keyframes line-slide{
            0%{
                opacity: 0;
                transform: translateX(135px);
            }
            100%{
                opacity: 1;
                transform: translateX(0);
            }
        }



.projects-wrap{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
    max-height: 65vh;
    min-height: 400px;
}
.projects-wrap::-webkit-scrollbar {
    display: none;
}


.project{
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.project-information{
    display: flex;
    justify-content: center;
    
}
.project-description{
   position: relative;
   width: 40%;
   margin-left: 30px;
   padding: 15px;
   border-radius: 5px;
   color: white;
   font-weight: 700;
   font-size: 28px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   transition: .3s all;
}
    .darken{
        background: #ffffff24;
    }
    .justify-content-start{
        justify-content: start;
    }
.description-simple{
    animation: slideUp .5s backwards ease;
}
.description-techy{
    animation: slideUp .5s backwards ease;
}
.project-card{
    position: relative;
    height: 100%;
    width: 60%;
    padding: 10px 0 0 20px;
    overflow: hidden;
    border-left: 7px solid white;
    animation: scaleIn 1s ease backwards;
}
    @keyframes scaleIn{
        0%{
            opacity: 0;
            /* transform: translateX(-60px); */
        }
        100%{
            opacity: 1;
            /* transform: translateY(0); */
        }
    }
.project-date{
    position: absolute;
    color: white;
    font-weight: 700;
    font-size: 12px;
}
.project-title{
    font-size: 43px;
    font-weight: 700;
    /* margin: 20px 10px 0px 30px; */
    color: white;
}

.project-img{
    display: block;
    width: 67%;
    margin: 0 auto;
    margin-top: 20px;
}



/**********  Project navigation    *********/
.project-nav{
    text-align: center;
    display: flex;
    justify-content: center;
}
.project-nav a{
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 6px;
    transition: all .3s;
    z-index: 3;
}
.project-nav a::before{
    content: "";
    position: absolute;
    color: #36a061;
    width: 100%;
    height: 100%;
    /* z-index: 10; */
    bottom: 0;
    background: #0000000a;
    z-index: -1;
    border-radius: 50%;
    transform: scale(0);
    transition: all 1.5s ease;
}
.project-nav a:hover{
    cursor: pointer;
}
.project-nav a:hover::before{
    transform: scale(1)
}
.pn-active{
    background: #fffefe57;
}




.front{
    padding: 10px;
    height: auto;
    background: #00aeef;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #E4E0FC;
    color: black;
    background: white;
    font-size: 14px;
}
.front-title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}
.front-icons{
    display: flex;
    flex-direction: column;
}
.front-icons > div:not(:last-of-type){
    margin-bottom: 3px;
}
.front-icons ul{
    padding-left: 30px;
    list-style: none;
}
.fa-caret-right{
    color: #00aeef;
    margin-right: 3px;
}
/* .front-icons div{
    display: flex;
    align-items: center;
} */
.front .fab{
    font-size: 22px;
    margin-right: 3px;
}
/*********************************/
.back{
	background: #272822;
	font-family: 'Inconsolata', monospace;
	color: #aed44c;
    padding: 10px;
    font-size: 17px;
    font-weight: 400;
    border-radius: 5px; 
}
.back li{
    font-size: 14px;
}
.back h5{
	color: #6cdde0;
}
.back h4{
	color: #ce2158;
	font-size: 18px;
}
.back p{
    font-size: 14px;
}
.back .number{
    color: grey;
    margin-right: 15px;
    font-size: 14px;
}





:root {
    --bg-main-color: #1f2029;
    --toned-down-white: #f1f1f1;
    --highlight-main: #8167a9;
  }

/* TOGGLE ELEMENT */
/* sets the size the switch's body, this is the label element, and our container */
.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 10px;
  }
  /* hides the checkbox's default ticking box, we don't need to show it, we only need it's "checked" functionality to keep track of when user clicks*/
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
/* this is a span nested inside label container, that takes the width and position of its container */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: #00aeef;
    transition: 0.4s;
  }
  /* this is the toggle circle that moves, setting its inital position and size */
.slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: -4px;
    bottom: -15px;
    background-color: var(--toned-down-white);
    transition: 0.4s;
    color: var(--highlight-main);
    font-size: 10px;
  }
  /* color change on slider circle when input container is clicked.because label element is container, clicking anywhere in it triggers input:checked */
input:checked + .slider {
    background-color: #272822;
  }
  /* when input is focused show shadow on slider */
input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  /* when label cointainer is clicked change toggle circle color, and move it to the right */
input:checked + .slider:before {
    background-color: #aed44c;
    content: "";
    transform: translateX(70px);
  }
  /* make the label container rounded*/
.slider.round {
    border-radius: 34px;
  }
  
  /* make the roggle circle round */
  .slider.round:before {
    border-radius: 50%;
  }


  .description-simple p{
    margin-bottom: 20px;
  }
  .description-toggle{
      position: absolute;
      bottom: -54px;
      right: 38px;
  }
  .switch-simple{
    position: absolute;
    bottom: -33px;
    left: -15px;
    font-size: 13px;
    font-weight: 700;
  }
  .switch-techy{
    position: absolute;
    bottom: -33px;
    left: 75px;
    font-size: 13px;
    font-weight: 700;
  }



  
  .display-none{
      display: none;
  }

















.flicker{
	color: white;
	animation: flicker 1.2s infinite ease;
}
@keyframes flicker{
	0%{opacity: 1}
	50%{opacity: 0}
	100%{opacity: 1}
}



@keyframes slideUp{
    0%{ transform: translateY(60px);
        opacity: 0;}
    100%{ transform: translateY(0px);
        opacity: 1;}
}








/* projects visit links */
.link{
    position: relative;
    display: inline-block;
    margin-top: 20px;  
    text-decoration: none;
    transform: rotate(0);
    color: #00aeef;
    transition: all .2s ease-in-out;
}
.link:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: -2px;
    left: 0;
    background-color: #00aeef;
    /* visibility: hidden; */
    transform: scaleX(0);
    transform-origin: 0;
    transition: all .2s ease-in-out;
}
.link:hover{
    cursor: pointer;
    animation: none;
    transform: rotate(6deg) translateY(-3px);
}
.link:active{
    color: white;
    transform: rotate(6deg) translateY(0px);
}
.link:hover:before{
    /* visibility: visable; */
    transform: scaleX(1);
    cursor: pointer;
}


/* LINK   */
.link2:hover{
    cursor: pointer;
    color: #f49ac1;
}
.link2:hover .link2icon{
    opacity: 1;
    transform: translateX(39px) translateY(6%);
 
}
.link2icon{
   opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    color: #f49ac1;
    font-size: 33px;
    transition: .5s all ease;
}







/* FLUID OBJECTS */
.fluid-wrapper1{
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: absolute;
    bottom: 0;

}
#fluid1{
    width: 100%;
    height: 200px;
    background: #f49ac1;
    border-radius: 50%;
    transform: scaleY(0);
    transition: all .2s;
    transition: 1.3s cubic-bezier(0,.74,.36,1);
}
.fluid-wrapper2{
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;

}
#fluid2{
    width: 100%;
    height: 200px;
    background: #00aeef;
    border-radius: 50%;
    transform: scaleY(0);
    transition: all .2s;
    transition: 1.3s cubic-bezier(0,.74,.36,1);
    margin-top: -100px;
}









#chat-display{
    height: 0;
    background: rgba(255, 255, 255, 0.090);
    border-radius: 15px;
    padding-top: 10px;
    opacity: 0;
}

ul > li:after {
    display: table;
    content: '';
    clear: both;
}
#messages{
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
#messages li{
    margin-bottom: 5px;
}
.chat-icon{
    transition: all 1s;
}
.msg{
    max-width: 65%;
    display: inline-block;
    border-radius: 18px;
    padding: 7px;
    animation: slideUp .3s ease;

}
.msg.user{
    float: right;
    border-bottom-right-radius: 3px;
    color: white;
    background: #f49ac1;
    margin-right: 10px;
}
.msg.me{
    float: left;
    border-bottom-left-radius: 3px;
    color: black;
    background: #bfb0b7;
    margin-left: 10px;
}
/* CUSTOM SCROLLBAR FOR CHATBOX */
#messages::-webkit-scrollbar { width: 0.125rem; margin-right: -8px; }
#messages::-webkit-scrollbar-thumb { background: #CFD8DC; }
#messages::-webkit-scrollbar-thumb:hover { background: #B0BEC5; }
/* INPUT TEXT PLACEHOLDER CUSTOMIZE */
::-webkit-input-placeholder { color: #B0BEC5; }
::-moz-placeholder { color: #B0BEC5; }
:-ms-input-placeholder { color: #B0BEC5; }
:-moz-placeholder { color: #B0BEC5; }




/* chat transitions */
.chat-text, .chat-text h1, .chat-text p, .chat-icon, #messages, .chat{
    transition: all .5s;
}
#chat-display{
    transition: all .5s;
    transition-delay: .5s;
}




/* ALERT */
.alert{
    width: 150px;
    height: 50px;
    position: fixed;
    top: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 10;
    font-size: 10px;
    background: #8dcdf7;
    padding: 10px;
    border-radius: 13px;
}
.alert .fa-exclamation{
    font-size: 30px;
    margin-right: 5px;
    color: white;
}
#alertX{
    position: absolute;
    bottom: -16px;
    left: -7px;
    font-size: 16px;
    color: black;
    transition:  all .3s ease;
}
#alertX:hover{
    transform: rotate(180deg) scale(1.2);
    cursor: pointer;
}
    @keyframes spin{
        0%{transform: rotate(0)}
        100%{transform: rotate(180deg)}
        /* 100%{transform: rotate(360deg)} */
    }




/* .projects-wrap{
    background: url(img/bg3.png)
}
 */

  






 /********************* ANIMATIONS ******************/
@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.message{
    backface-visibility: hidden;
}
.message:nth-of-type(1){
    animation: fadeIn 1s .6s ease backwards ;
}
.message:nth-of-type(2){
    animation: fadeIn 1s .7s ease backwards;
}
.message:nth-of-type(3){
    animation: fadeIn 1s .8s ease backwards;
}
.message:nth-of-type(4){
    animation: fadeIn 1s .9s ease backwards;
}
.message:nth-of-type(5){
    animation: fadeIn 1s 1s ease backwards;
}
.message:nth-of-type(6){
    animation: fadeIn 1s 1.1s ease backwards;
}
.message:nth-of-type(7){
    animation: fadeIn 1s 1.2s ease backwards;
}

.lf:nth-of-type(1){
    animation: fadeIn 1s 1.3s ease backwards ;
} 
.lf:nth-of-type(2){
    animation: fadeIn 1s 1.2s ease backwards;
}
.lf:nth-of-type(3){
    animation: fadeIn 1s 1.5s ease backwards;
}
.lf:nth-of-type(4){
    animation: fadeIn 1s 1.4s ease backwards;
}





.chat-header{
    animation: popUp .6s backwards ease-in-out;
}
@keyframes popUp{
    0%{ opacity: 0;
        transform: scale(.3) translateY(0px)}
    50%{opacity: 1;
        transform: scale(1.2) translateY(0px)}
    100%{transform: scale(1) translateY(0px)}
}




/* alerts */
.userMessage{
    position: fixed;
    bottom: 50px;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 200px;
    z-index: 1;
    border-radius: 20px;
}
.animateAlert{
    animation: alert 5s;
}
@keyframes alert{
    0%{opacity: 0;}
    5%{opacity: 1;}
    95%{opacity: 1;}
    100%{opacity: 0;}
}


.prepChatText{
    top: 13px;
    left: 12px;
}
.chat-text .prepChatH1{
    font-size: 19px;
    margin-bottom: 3px;
}
.chat-text .prepChatP{
    font-size: 10px;
}
.prepChatIcon{
    width: 30%;
}
#chat-display.prepChatDispl{
    height: 200px;
    opacity: 1;
}








/*********** MEDIA QUERIES ****************/
@media (max-width: 1200px){
    .content{
        width: 94%;
    }
    .chat{
        margin-right: auto;
    }


}
@media (max-width: 1000px){
    .chat{
        width: 350px;
    }
        .chat-text{
            top: 22px;
            left: 23px;
        }
            .chat-text h1{
                font-size: 45px;
            }
            .chat-text p{
                font-size: 21px;
            }
    .chat-questions div{
        font-size: 12px;
        padding: 7px 6px;
    }
    .chat-interactive span{
        padding: 0px 13px;
    }



    .links{
        width: 354px;
        height: 275px;
    }
        .linkedin{
            top: 7px;
            font-size: 60px;
        }
        .email{
            font-size: 37px;
        }
        .github{
            font-size: 45px;
        }
        .resume{
            font-size: 80px;
        }

    .prepChatText{
        top: 9px;
        left: 7px;
    }
    .chat-text .prepChatH1{
        font-size: 10px;
        margin-bottom: 0px;
    }
    .chat-text .prepChatP{
        font-size: 7px;
    }
    
}

@media (max-width: 700px){
    section{
        height: auto;
        padding-bottom: 100px;
    }

    .content{
        width: 100%;
        position: relative;
        top: auto;
        left: auto;
        transform: translate(0);
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        padding-right: 0;
    }
    .chat{
        margin-top: 50px;
        margin-bottom: 37px;
        margin-right: 0;
        padding-right: 0;
    }
    




    #second{
        padding: 20px 20px;
    }

    .work-navigation{
        width: 80%;
    }

    .projects-wrap{
        min-height: auto;
        max-height: none;
    }
    .project-information{
        flex-direction: column;
        align-items: center;
    }
    .project-card{
        width: 100%;
    }
    .project-description{
        width: 100%;
        margin-top: 65px;
        margin-left: 0;
    }
    .description-toggle{
        top: -45px;
    }


    .prepChatIcon{
        width: 47%;
    }
    .prepChatText{
        top: 12px;
        left: 10px;
    }
    .chat-text .prepChatH1{
        font-size: 23px;
        margin-bottom: 0px;
    }
    .chat-text .prepChatP{
        font-size: 13px;
    }
}

@media (max-width: 450px){
    .nav-item{
        font-size: 25px;
    }
}

@media (max-width: 365px){
    .chat{
        width: 276px;
    }
    .chat-text{
        top: 10px;
        left: 18px;
    }

    .chat-questions div{
        font-size: 11px;
    }


    .links{
        width: 296px;
        height: 180px;
    }
        .linkedin{
            font-size: 44px;
            top: 7px;
            left: 47px;
        }
        .email{
            font-size: 30px;
            top: 62px;
            right: 86px;
        }
        .github{
            font-size: 35px;
            top: 83px;
            left: 19px;
        }
        .resume{
            font-size: 52px;
            bottom: 0;
            right: 0;
        }
       
    .nav-item{
        font-size: 23px;
    }

    #q1, #q3, #q5{
        margin-bottom: 3px;
    }

    .prepChatText{
        top: 10px;
        left: 9px;
    }
    .chat-text .prepChatH1{
        font-size: 16px;
        margin-bottom: 0px;
    }
    .chat-text .prepChatP{
        font-size: 10px;
    }

    .project-description{
        font-size: 20px;
    }
}